<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>MVC 게시판</title>
    <meta charset="UTF-8">
    <th:block th:replace="~{board/header :: headerFragment}"/>
    <script th:src="@{/js/reply.js}"></script>
    <script>
        $(function () {
            $("#board_name").val($("#loginid").text());
        });
    </script>
    <style>
        h1 {
            font-size: 1.5rem;
            text-align: center;
            color: #1a92b9;
        }

        label {
            font-weight: bold;
        }

        .container {
            width: 60%;
        }
    </style>
</head>
<body>
<div class="container">
    <form name="boardform" th:action="replyAction" method="post">
        <input type="hidden" name="board_re_ref" th:value="${boarddata.board_re_ref}">
        <input type="hidden" name="board_re_lev" th:value="${boarddata.board_re_lev}">
        <input type="hidden" name="board_re_seq" th:value="${boarddata.board_re_seq}">
        <h1>MVC 게시판 - Reply</h1>
        <div class="form-group">
            <label for="board_name">글쓴이</label>
            <input type="text" name="board_name" id="board_name"
                   class="form-control" th:value="${boarddata.board_name}" readonly>
        </div>

        <div class="form-group">
            <label for="board_subject">제목</label>
            <textarea name="board_subject" id="board_subject" rows="1"
                      class="form-control" maxlength="100">Re:[[${boarddata.board_subject}]]</textarea>
        </div>

        <div class="form-group">
            <label for="board_content">내용</label>
            <textarea name="board_content" id="board_content" rows="15"
                      class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="board_pass">비밀번호</label>
            <input type="password" name="board_pass" id="board_pass"
                   class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="등록">
            <input type="button" class="btn btn-danger" value="취소"
                   onclick="history.go(-1)">
        </div>
    </form>
</div>

</body>
</html>
