<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>MVC 게시판 - view</title>
    <meta charset="UTF-8">
    <th:block th:replace="~{board/header :: headerFragment}"/>
    <script th:src="@{/js/view.js}"></script>
    <script>
        const result = [[${result}]];
        if (result == "passFail") {
            alert("비밀번호가 일치하지 않습니다.");
        }

        $(function () {
            $("form[action=delete]").submit(function () {
                if ($("#board_pass").val() == "") {
                    alert("비밀번호를 입력하세요");
                    $("#board_pass").focus();
                    return false;
                }
            });
        });
    </script>
    <style>
        body > div > table > tbody > tr:nth-child(1) {
            text-align: center;
        }

        td:nth-child(1) {
            width: 20%;
        }

        a {
            color: white;
        }

        body > div > table > tbody > tr:last-child {
            text-align: center;
        }

        .btn-primary {
            background: #4f97e5;
        }

        #myModal {
            display: none;
        }

        #comment > table > tbody > tr > td:nth-child(2) {
            width: 60%;
        }

        #count {
            position: relative;
            top: -10px;
            left: -10px;
            background: orange;
            color: white;
            border-radius: 30%;
        }

        textarea {
            resize: none;
        }

        form[action=down] > input[type=submit] {
            position: relative;
            top: -25px;
            left: 10px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th colspan="2">MVC 게시판 - view 페이지</th>
        </tr>
        <tr>
            <td>
                <div>글쓴이</div>
            </td>
            <td>
                <div>[[${boarddata.board_name}]]</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>제목</div>
            </td>
            <td>
                <div>[[${boarddata.board_subject}]]</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>내용</div>
            </td>
            <td style="padding-right: 0px">
                <textarea class="form-control" rows="5" readonly>[[${boarddata.board_content}]]</textarea>
            </td>
        </tr>

        <!-- 원문글인 경우에만 첨부파일을 추가할 수 있습니다. -->
        <tr th:if="${boarddata.board_re_lev == 0}">
            <td>
                <div>첨부파일</div>
            </td>

            <!-- 파일을 첨부한 경우 -->
            <td th:if="${boarddata.board_file != null}">
                <img th:src="@{/image/down.png}" width="10px">
                <form th:action="down" method="post" style="height: 0px">
                    <input type="hidden" th:value="${boarddata.board_file}" name="filename">
                    <input type="hidden" th:value="${boarddata.board_original}" name="original">
                    <input type="submit" th:value="${boarddata.board_original}">
                </form>
            </td>
            <!-- 파일을 첨부하지 않은 경우 -->
            <td th:if="${#strings.isEmpty(boarddata.board_file)}"></td>
        </tr>

        <tr>
            <td colspan="2" class="center">
                <button class="btn btn-primary">댓글</button>
                <span id="count">[[${count}]]</span>
                <th:block sec:authorize-expr="isAuthenticated()">
                    <th:block th:with="pinfo=${#authentication.principal}">
                        <th:block th:if="${boarddata.board_name == pinfo.username or pinfo.username == 'admin'}">
                            <a th:href="@{'modifyView?num=' + ${boarddata.board_num}}">
                                <button class="btn btn-warning">수정</button>
                            </a>
                            <!-- href의 주소를 #으로 설정합니다. -->
                            <a href="#">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">삭제</button>
                            </a>
                        </th:block>
                    </th:block>
                </th:block>

                <a th:href="@{'replyView?num=' + ${boarddata.board_num}}">
                    <button class="btn btn-info">답변</button>
                </a>
                <a href="list">
                    <button class="btn btn-success">목록</button>
                </a>
            </td>
        </tr>
    </table>

    <!-- modal 시작 -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <form name="deleteForm" th:action="delete" method="post">
                        <!--
                        http://localhost:8088/BoardDetail.bo?num=22
                        주소를 보면 num을 파라미터로 넘기고 있습니다.
                        이 값을 가져와서 ${param.num}을 사용
                        또는 ${boarddata.board_num}
                        -->
                        <input type="hidden" name="num" th:value="${param.num}" id="board_num">
                        <div class="form-group">
                            <label for="board_pass">비밀번호</label>
                            <input type="password" class="form-control" placeholder="Enter password" name="board_pass"
                                   id="board_pass">
                        </div>
                        <button type="submit" class="btn btn-primary">전송</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="comment">
        <button class="btn btn-info float-left">총 50자까지 가능합니다.</button>
        <button id="write" class="btn btn-info float-right">등록</button>
        <textarea rows="3" class="form-control" id="content" maxlength="50"></textarea>
        <table class="table">
            <thead>
            <tr>
                <td>아이디</td>
                <td>내용</td>
                <td>날짜</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="message"></div>
    </div>
    <!-- comment-area end -->
</div>
</body>
</html>